extends ../template
block content
    h2.text-center Biểu Đồ Áp Suất (Pressure (hPa))
    script(type='text/javascript' src='/js/pressureChart.js')    
    #curve_chart(style='width: 1200px; height: 600px')