extends ../template
block content
    h2.text-center Biểu đồ dự đoán nhiệt độ (Temperature (°C))
    script(type='text/javascript' src='/js/tempPredictChart.js')    
    #curve_chart(style='width: 1200px; height: 600px')
    //- #curve_chart