extends ../template
block content
    h1.text-center Hệ Thống Dự Đoán
    if mess
        h3=mess
    if result
        h3 Nhiệt độ Hệ thống dự đoán 1 giờ sau
        h3.result=result 
    style.
        h3 {
            font-size : 35px;
            margin-left: 30px;
            margin-top :30px
        }